
.vs/portfolio/FileContentIndex/7246f6f7-b41a-4630-a722-5c689e2ab406.vsidx
.vs/portfolio/FileContentIndex/9b71d6d6-6727-482c-870e-9f66118421c4.vsidx
.vs/portfolio/FileContentIndex/29fbeaef-ef3d-411f-b37f-7ad30596b3a5.vsidx
.vs/portfolio/FileContentIndex/7e2cae49-a8a9-4519-82f1-ce1de82f76cc.vsidx
.vs/portfolio/FileContentIndex/f77593d6-b209-404c-94e6-bc073ed786e9.vsidx
.vs/portfolio/FileContentIndex/c620a4b6-4a14-47ef-a84d-ce713c11cebb.vsidx
.vs/slnx.sqlite
.vs/portfolio/FileContentIndex/ac7b8e7f-19f0-487a-b9d3-ac034fbee9a9.vsidx
.vs/portfolio/FileContentIndex/eb3a9e8d-d134-41fe-9dbf-f8311876fcad.vsidx
.vs/portfolio/FileContentIndex/b49e105a-bf6d-4061-b2dc-e9bc6517c8ef.vsidx
.vs/portfolio/FileContentIndex/11dfb3b3-bc2d-47ca-a7e3-c2ebb39a6296.vsidx
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/portfolio/FileContentIndex/859467c6-5853-4df5-bed7-1de09cca60db.vsidx
