@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

.dropdown-nav {
    text-align: center;
}

.dropdown-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-nav ul li {
    display: inline-block;
    position: relative;
}

.dropdown-nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.dropdown-menu li:hover a {
    background-color: transparent;
}

.dropdown-nav ul li:hover>.dropdown-menu {
    display: block;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
}

/* Footer */
.footer {
    background-color: #4E567E;
    color: white;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a img {
    width: 30px;
    height: 30px;
}

.creator-info {
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

/* BODY */
.download-button {
    background-color: blue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    left: -50px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#presentation,
#competences {
    height: auto;
    min-height: 800px;
}

.divmulti {
    width: 100%;
    height: 100vh;
    --s: 222px;
    --c1: #7f727b;
    --c2: #d6b4c2;
    --c3: #baa0ab;
  
    --_g: var(--c1) 10%, var(--c2) 10.5% 19%, #0000 19.5% 80.5%,
      var(--c2) 81% 89.5%, var(--c3) 90%;
    --_c: from -90deg at 37.5% 50%, #0000 75%;
    --_l1: linear-gradient(145deg, var(--_g));
    --_l2: linear-gradient(35deg, var(--_g));
    background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2),
      var(--_l2) calc(var(--s) / 2) var(--s),
      conic-gradient(var(--_c), var(--c1) 0) calc(var(--s) / 8) 0,
      conic-gradient(var(--_c), var(--c3) 0) calc(var(--s) / 2) 0,
      linear-gradient(
        90deg,
        var(--c3) 38%,
        var(--c1) 0 50%,
        var(--c3) 0 62%,
        var(--c1) 0
      );
    background-size: var(--s) calc(2 * var(--s) / 3);
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divblan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    border: 1px solid gold; /* Ajout de la bordure dorée */
}

.divbl {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.divart {
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.sepa {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 100px;
}

.titre {
    font-size: 40px;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.texte {
    font-size: 20px;
    line-height: 1.6;
}

.titreorga {
    text-align: center;
    font-size: 40px;
    display: block;
    margin-bottom: 20px;
}

.dbt {
    display: flex;
    justify-content: center;
}

.img {
    width: 400px;
}

.imgrgpd {
    width: 400px;
    border-radius:20px;
}

.divtxtd {
    text-align: center;
    color: #212121;
    max-width: 600px;
    margin-left: 200px
}

.divtxtg {
    text-align: center;
    color: #212121;
    max-width: 600px;
    margin-right: 200px;
}

.divtxtc {
    text-align: center;
    color: #212121;
    max-width: 1000px;
}

.imgorga {
    width: 500px;
    border-radius: 20px;
}

/* Articles de Veille */
.divartdispo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.artseul {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.artseulimg {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.artseuldispo {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.arttitre {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.arttexte {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.artauteur {
    font-size: 13px;
    font-weight: bold;
    color: #999;
    margin-bottom: 20px;
}

.artlien {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 5%;
}

/* Slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 50%;
    /* Prend la largeur du conteneur */
    height: 300px;
    object-fit: contain;
    /* Contient l'image sans déborder */
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: ccc;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    -webkit-user-select: none;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(124, 124, 124, 0.8);
}

.text {
    position: absolute;
    bottom: -35px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
    background-color: rgba(124, 124, 124, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
    margin-top: 20px;
    position: relative;
    bottom: -20px;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Situations */
.situations {
    display: flex;
    text-align: center;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-top {
    flex: 1;
    padding: 20px;
}

.left-bottom {
    flex: 1;
    display: flex;
}

.left-column-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-inner-top,
.left-inner-bottom {
    flex: 1;
    padding: 20px;
}

.right-column-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-inner-top,
.right-inner-bottom {
    flex: 1;
    padding: 20px;
}

.right-column {
    flex: 1;
    padding: 20px;
}

.image-container {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 150px; /* Définir une largeur fixe */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur */
}

.download-button:hover {
    background-color: #0056b3;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* MOBILE */
@media (max-width: 768px) {

    /* Header */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        z-index: 1000;
        justify-content: center;
        /* Centre les éléments horizontalement */
        align-items: center;
        display: flex;
    }

    .dropdown-menu {
        max-width: 100%;
        /* Limite la largeur du menu déroulant */
        width: auto;
        /* S'ajuste à la taille de son contenu */
    }

    .dropdown-nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100vw;
    }

    .dropdown-nav ul li {
        position: relative;
        /* Nécessaire pour positionner le menu déroulant correctement */
    }

    .dropdown-nav ul li a {
        text-align: center;
        display: block;
        padding: 10px;
    }

    /* Footer */
    .footer {
        height: 100px;
        padding: 10px 0;
    }

    .footer-links a img {
        width: 20px;
        height: 20px;
    }

    .creator-info {
        font-size: 12px;
    }

    .divmulti {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Elements */
    .divtxtd {
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .divtxtg {
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }

    .divtxtc {
        max-width: 100%;
        /* Limite la largeur pour ne pas déborder */
        padding: 10px;
        /* Ajoute de l'espace autour du texte */
        word-wrap: break-word;
        /* Coupe les mots longs s'ils dépassent */
        margin: 0 auto;
        /* Centre la div */
        text-align: center;
        /* Centre le texte */
    }

    .divbl {
        height: auto;
        min-height: 100vh;
        padding: 10px;
        flex-direction: column;
    }

    #imagepresentation img {
        max-width: 90%;
        height: auto;
    }

    .slideshow-container {
        max-width: 100%;
        /* Empêche le débordement */
        box-sizing: border-box;
        /* Inclut le padding dans la largeur */
    }

    .mySlides img {
        width: 50%;
        /* Prend la largeur du conteneur */
        height: 200px;
        object-fit: contain;
        /* Contient l'image sans déborder */
    }

    img {
        max-width: 80%;
        height: auto;
        /* La hauteur est ajustée automatiquement */
        display: block;
        /* Assure que l'image est un bloc */
        margin: 0 auto;
        /* Centre l'image horizontalement */
    }

    .titre {
        font-size: 24px;
    }

    .texte {
        font-size: 16px;
        line-height: 1.4;
    }

    .download-button {
        margin-top: 20px;
        font-size: 14px;
    }
}