@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
}

.sepa {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 100px;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

.dropdown-nav {
    text-align: center;
}

.dropdown-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-nav ul li {
    display: inline-block;
    position: relative;
}

.dropdown-nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.dropdown-menu li:hover a {
    background-color: transparent;
}

.dropdown-nav ul li:hover>.dropdown-menu {
    display: block;
}

.menu-toggle {
    font-size: 1.5em;
    display: none;
    background: none;
    border: none;
    color: white;
}

/* FOOTER */

.footer {
    background-color: #4E567E;
    color: white;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_liens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.footer_liens a {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_liens a img {
    width: 30px;
    height: 30px;
}

.footer_nom {
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

/* INDEX */

/* Présentation */

.index_presentation_fonds {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.index_presentation_fonds_gauche {
    width: 50%;
}

.index_presentation_fonds_droite {
    position: relative;
    width: 50%;
}

.index_presentation_fonds_gauche img {
    width: 100%;
    height: 100vh;
}

.index_presentation_fonds_droite img {
    width: 100%;
    height: 100vh;
}

.index_presentation_fonds_droite_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 60%;
}

.index_presentation_fonds_droite_form_texte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index_presentation_fonds_droite_form_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.index_presentation_fonds_droite_form_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.index_presentation_fonds_droite_form_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 1.6;
}

.index_presentation_fonds_droite_form_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Compétences */

.index_competences_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.index_competences_carousel_image_fonds {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_competences_carousel_image {
    width: 80%;
}

.veille_outils_categorie_texte_fonds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index_competences_texte_titre {
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: bold;
}

.index_competences_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 3%;
    margin-top: 1%;
}

.index_competences_carousel {
    width: 60%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.index_competences_carousel_track {
    display: flex;
    animation: scroll 30s linear infinite;
    animation-play-state: running;
}

.index_competences_carousel_track:hover {
    animation-play-state: paused;
}

.index_competences_carousel_track div {
    max-width: 80%;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ENTREPRISE */

/* Présentation */

.entreprise_presentation_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.entreprise_presentation_image_fonds {
    width: 50%;
}

.entreprise_presentation_image {
    width: 40%;
    margin-left: 20%;
}

.entreprise_presentation_texte_fonds {
    width: 50%;
}

.entreprise_presentation_texte {
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entreprise_presentation_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.entreprise_presentation_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.entreprise_presentation_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

/* Activités */

.entreprise_activites_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.entreprise_activites_image_fonds {
    width: 50%;
}

.entreprise_activites_image {
    width: 60%;
}

.entreprise_activites_texte_fonds {
    width: 50%;
}

.entreprise_activites_texte {
    width: 50%;
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entreprise_activites_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.entreprise_activites_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.entreprise_activites_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

/* Organigramme */

.entreprise_organigramme_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.entreprise_organigramme_image_fonds {
    width: 50%;
}

.entreprise_organigramme_image {
    width: 60%;
    margin-left: 40%;
    border-radius: 5%;
}

.entreprise_organigramme_texte_fonds {
    width: 50%;
}

.entreprise_organigramme_texte {
    width: 50%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.entreprise_organigramme_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.entreprise_organigramme_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.entreprise_organigramme_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

/* TABLEAU DE SYNTHESE */

.tableau_fonds {
    height: 100vh;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.tableau_texte_titre {
    font-size: 40px;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.tableau_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
    margin-bottom: 50px;
}

.tableau_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* MISSIONS FORMATION */

/* Mission formation 1 */

.mission_formation_1_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_1_image {
    width: 100%;
    margin-left: -50%;
}

.mission_formation_1_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_1_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_formation_1_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_1_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_formation_1_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission formation 2 */

.mission_formation_2_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_2_image {
    margin-left: 10%;
    width: 80%;
}

.mission_formation_2_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_2_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_formation_2_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_2_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_formation_2_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission formation 3 */

.mission_formation_3_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_3_image {
    margin-right: 10%;
    width: 80%;
}

.mission_formation_3_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_3_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_formation_3_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_3_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_formation_3_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission formation 4 */

.mission_formation_4_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_4_image {
    width: 70%;
}

.mission_formation_4_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_4_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    width: 120%;
    display: block;
    font-weight: bold;
}

.mission_formation_4_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_4_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mission_formation_4_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission formation 5 */

.mission_formation_5_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_5_image {
    width: 80%;
}

.mission_formation_5_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_5_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_formation_5_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_5_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_formation_5_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission formation 6 */

.mission_formation_6_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_6_image {
    width: 100%;
    margin-left: 20%;
}

.mission_formation_6_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_6_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    width: 120%;
    display: block;
    font-weight: bold;
}

.mission_formation_6_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_6_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mission_formation_6_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission formation 7 */

.mission_formation_7_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_7_image_fonds {
    width: 20%;
}

.mission_formation_7_image {
    width: 40%;
    margin-left: 60%;
}

.mission_formation_7_texte_fonds {
    width: 80%;
}

.mission_formation_7_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_7_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_formation_7_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_7_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 15%;
    line-height: 1.6;
    width: 600px;
}

.mission_formation_7_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission formation 8 */

.mission_formation_8_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_formation_8_image {
    width: 80%;
}

.mission_formation_8_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_formation_8_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    width: 120%;
    display: block;
    font-weight: bold;
}

.mission_formation_8_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_formation_8_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mission_formation_8_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* MISSIONS ENTREPRISES */

/* Mission entreprise 1 */

.mission_entreprise_1_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_1_image {
    margin-right: 10%;
    width: 90%;
}

.mission_entreprise_1_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_1_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_entreprise_1_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_1_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_entreprise_1_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission entreprise 2 */

.mission_entreprise_2_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_2_image {
    margin-left: 10%;
}

.mission_entreprise_2_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_2_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_entreprise_2_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_2_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_entreprise_2_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission entreprise 3 */

.mission_entreprise_3_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_3_image {
    margin-right: 10%;
    width: 80%;
}

.mission_entreprise_3_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_3_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_entreprise_3_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_3_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_entreprise_3_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission entreprise 4 */

.mission_entreprise_4_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_4_image {
    width: 80%;
    margin-right: 20%;
}

.mission_entreprise_4_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_4_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    width: 120%;
    display: block;
    font-weight: bold;
}

.mission_entreprise_4_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_4_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mission_entreprise_4_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission entreprise 5 */

.mission_entreprise_5_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_5_image {
    margin-right: 10%;
    width: 70%;
}

.mission_entreprise_5_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_5_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_entreprise_5_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_5_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.6;
    width: 600px;
}

.mission_entreprise_5_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission entreprise 6 */

.mission_entreprise_6_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_6_image {
    width: 80%;
    margin-left: 150px;
}

.mission_entreprise_6_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_6_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    width: 120%;
    display: block;
    font-weight: bold;
}

.mission_entreprise_6_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_6_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mission_entreprise_6_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission entreprise 7 */

.mission_entreprise_7_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_7_image {
    margin-right: 10%;
    width: 70%;
}

.mission_entreprise_7_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_7_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bold;
}

.mission_entreprise_7_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_7_texte_paragraphe {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 15%;
    line-height: 1.6;
    width: 600px;
}

.mission_entreprise_7_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Mission entreprise 8 */

.mission_entreprise_8_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.mission_entreprise_8_image {
    width: 60%;
    margin-right: 300px;
}

.mission_entreprise_8_texte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.mission_entreprise_8_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    width: 120%;
    display: block;
    font-weight: bold;
}

.mission_entreprise_8_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 20%;
}

.mission_entreprise_8_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mission_entreprise_8_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* CERTIFICAT */

/* RGPD */

.certificat_rgpd_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.certificat_rgpd_image {
    width: 50%;
    margin-left: 20%;
    border-radius: 5%;
}

.certificat_rgpd_texte_titre {
    font-size: 40px;
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}

.certificat_rgpd_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 10%;
    margin-bottom: 5%;
}

.certificat_rgpd_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 800px;
    margin-bottom: 5%;
}

.certificat_rgpd_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Cisco */

.certificat_cisco_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.certificat_cisco_image {
    width: 50%;
}

.certificat_cisco_texte_titre {
    font-size: 40px;
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}

.certificat_cisco_texte_separation {
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 10%;
    margin-bottom: 5%;
}

.certificat_cisco_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 800px;
    margin-bottom: 5%;
}

.certificat_cisco_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* SITUATIONS */

/* Situation 1 */

.situation_1_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.situation_1_image {
    width: 100%;
    margin-left: 20%;
}

.situation_1_texte_titre {
    font-size: 40px;
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}

.situation_1_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 800px;
}

.situations_1_disposition {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.situations_1_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Situation 2 */

.situation_2_fonds {
    height: 600px;
    margin-right: 10%;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.situation_2_image {
    width: 50%;
    margin-left: 10%;
}

.situation_2_texte_titre {
    font-size: 40px;
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}

.situation_2_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 800px;
}

.situations_2_disposition {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.situations_2_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* SITUATIONS */

/* Production 1 */

.production_1_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.production_1_image {
    width: 100%;
    margin-left: 20%;
}

.production_1_texte_titre {
    font-size: 40px;
    margin-bottom: 5%;
    display: block;
    font-weight: bold;
}

.production_1_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 800px;
}

.production_1_disposition {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.production_1_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Production 2 */

.production_2_fonds {
    height: 600px;
    margin-right: 10%;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.production_2_image {
    width: 50%;
    margin-left: 10%;
}

.production_2_texte_titre {
    font-size: 40px;
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}

.production_2_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
    width: 800px;
}

.production_2_disposition {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.production_2_bouton {
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* VEILLE */

/* Introduction */

.veille_introduction_fonds {
    width: 100%;
    height: 600px;
    background: #ffffff;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.veille_introduction_image {
    width: 100%;
}

.veille_introduction_texte {
    text-align: center;
    color: #212121;
    max-width: 600px;
    margin-left: 200px
}

.veille_introduction_texte_titre {
    font-size: 40px;
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}

.veille_introduction_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
}

/* Présentation */

.veille_presentation_fonds {
    height: 600px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.veille_presentation_image {
    width: 300px;
}

.veille_presentation_texte {
    text-align: center;
    color: #212121;
    width: 700px;
    margin-right: 200px;
}

.veille_presentation_texte_titre {
    font-size: 40px;
    display: block;
    font-weight: bold;
    margin-bottom: 5%;
}

.veille_presentation_texte_paragraphe {
    font-size: 20px;
    line-height: 1.6;
}

/* Articles de veille */

.veille_articles_fonds {
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    overflow: hidden;
}

.veille_articles_titre {
    font-size: 40px;
    margin-bottom: 2%;
    display: block;
    font-weight: bold;
    text-align: center;
}

.veille_articles_disposition {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.veille_articles_cellule {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.veille_articles_cellule_image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.veille_articles_cellule_disposition {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.veille_articles_cellule_titre {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.veille_articles_cellule_texte {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.veille_articles_cellule_auteur {
    font-size: 13px;
    font-weight: bold;
    color: #999;
    margin-bottom: 20px;
}

.veille_articles_cellule_hyperlien {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 5%;
}

/* Outils de veille */

.veille_outils_fonds {
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.veille_outils_titre {
    font-size: 40px;
    margin-bottom: 1%;
    display: block;
    font-weight: bold;
    text-align: center;
}

.veille_outils_categorie_fonds {
    display: flex;
}

.veille_outils_categorie {
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    /* Ajouté pour aligner les éléments en ligne */
    align-items: center;
    /* Centrer verticalement les éléments */
}

.veille_outils_categorie_image {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.veille_outils_categorie_texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.veille_outils_categorie_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.veille_outils_categorie_texte_titre {
    font-weight: bold;
}

.veille_outils_categorie_texte_paragraphe {
    text-align: justify;
    text-align-last: center;
    font-size: 80%;
    padding: 5%;
}

.veille_outils_categorie_image_web {
    width: 100px;
    height: 100px;
}

/* MOBILE */
@media (max-width: 768px) {

    /* Header */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        z-index: 1000;
        justify-content: center;
        /* Centre les éléments horizontalement */
        align-items: center;
        display: flex;
    }

    .dropdown-menu {
        max-width: 100%;
        /* Limite la largeur du menu déroulant */
        width: auto;
        /* S'ajuste à la taille de son contenu */
    }

    .dropdown-nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100vw;
    }

    .dropdown-nav ul li {
        position: relative;
        /* Nécessaire pour positionner le menu déroulant correctement */
    }

    .dropdown-nav ul li a {
        text-align: center;
        display: block;
        padding: 10px;
    }

    /* Footer */
    .footer {
        height: 100px;
        padding: 10px 0;
    }

    .footer-links a img {
        width: 20px;
        height: 20px;
    }

    .creator-info {
        font-size: 12px;
    }

    .divmulti {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Elements */
    .divtxtd {
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .divtxtg {
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }

    .divtxtc {
        max-width: 100%;
        /* Limite la largeur pour ne pas déborder */
        padding: 10px;
        /* Ajoute de l'espace autour du texte */
        word-wrap: break-word;
        /* Coupe les mots longs s'ils dépassent */
        margin: 0 auto;
        /* Centre la div */
        text-align: center;
        /* Centre le texte */
    }

    .divbl {
        height: auto;
        min-height: 100vh;
        padding: 10px;
        flex-direction: column;
    }

    #imagepresentation img {
        max-width: 90%;
        height: auto;
    }

    .slideshow-container {
        max-width: 100%;
        /* Empêche le débordement */
        box-sizing: border-box;
        /* Inclut le padding dans la largeur */
    }

    .mySlides img {
        width: 50%;
        /* Prend la largeur du conteneur */
        height: 200px;
        object-fit: contain;
        /* Contient l'image sans déborder */
    }

    img {
        max-width: 80%;
        height: auto;
        /* La hauteur est ajustée automatiquement */
        display: block;
        /* Assure que l'image est un bloc */
        margin: 0 auto;
        /* Centre l'image horizontalement */
    }

    .titre {
        font-size: 24px;
    }

    .texte {
        font-size: 16px;
        line-height: 1.4;
    }

    .download-button {
        margin-top: 20px;
        font-size: 14px;
    }
}